@layout Layout.AuthLayout
@page "/auth/account_choose"
<!--begin::Form-->
<form class="form w-100" novalidate="novalidate" id="kt_sign_in_form" action="#">
	<!--begin::Heading-->
	<div class="text-center">
		<!--begin::Title-->
		<h1 class="text-dark mb-3">
			Choose an account
		</h1>
		<!--end::Title-->
	</div>
	<!--begin::Heading-->
	<div class="fv-row mb-10">
		<div class="card-body pt-2">
			<!--begin::Items-->
			<div class="py-2">
				<!--begin::Item-->
				<div class="d-flex flex-stack">
					<a href="javascript:void(0);">
						<div class="d-flex">
							<div class="symbol symbol-50px symbol-circle">
								<div class="symbol-label me-6 w-30px h-30px" style="background-image: url(https://lh3.googleusercontent.com/-HRfQVN8CgMs/AAAAAAAAAAI/AAAAAAAAAAA/ALKGfknFXPJyxsC8MyipmL8PtSalZetOmQ/s128-c/photo.jpg)"></div>
							</div>
							<div class="d-flex flex-column">
								<div class="fs-5 fw-bold text-dark">
									Khai hoang
								</div>
								<div class="fs-6 text-muted">vuong.drive03@gmail.com</div>
							</div>
						</div>
					</a>
					<a href="javascript:void(0)" class="text-muted">Signout</a>
				</div>
				<!--end::Item-->
				<div class="separator separator-dashed my-5"></div>
				<!--begin::Item-->
				<div class="d-flex flex-stack">
					<a href="javascript:void(0);">
						<div class="d-flex">
							<div class="symbol symbol-50px symbol-circle">
								<div class="symbol-label me-6 w-30px h-30px" style="background-image: url(https://lh3.googleusercontent.com/-HRfQVN8CgMs/AAAAAAAAAAI/AAAAAAAAAAA/ALKGfknFXPJyxsC8MyipmL8PtSalZetOmQ/s128-c/photo.jpg)"></div>
							</div>
							<div class="d-flex flex-column">
								<div class="fs-5 fw-bold text-dark">
									Store Trần
								</div>
								<div class="fs-6 text-muted">vuong.drive01@gmail.com</div>
							</div>
						</div>
					</a>
					<a href="javascript:void(0)" class="text-muted">Signout</a>
				</div>
				<!--end::Item-->
				<div class="separator separator-dashed my-5"></div>
				<!--begin::Item-->
				<div class="d-flex flex-stack">
					<a href="javascript:void(0);">
						<div class="d-flex">
							<i class="bi bi-person-circle fs-2x me-6"></i>
							<div class="d-flex flex-column">
								<div class="fs-5 text-dark">
									Use another account
								</div>
							</div>
						</div>
					</a>

				</div>
				<!--end::Item-->
				<div class="separator separator-dashed my-5"></div>
				<!--begin::Item-->
				<div class="d-flex flex-stack">
					<a href="javascript:void(0);">
						<div class="d-flex">
							<i class="bi bi-person-dash fs-2x me-6"></i>
							<div class="d-flex flex-column">
								<div class="fs-5 text-dark">
									Remove an account
								</div>
							</div>
						</div>
					</a>
				</div>
				<!--end::Item-->
			</div>
			<!--end::Items-->
		</div>
	</div>
</form>
<!--end::Form-->