@page "/setting"
<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Container-->
    <div class=" container-xxl " id="kt_content_container">
        <!--begin::Layout Builder Modal-->
        <div class="modal fade" id="kt_layout_builder_recaptcha_modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLabel">reCaptcha Verification</h3>

                        <button class="btn btn-sm btn-icon btn-light btn-hover-primary" data-bs-dismiss="modal" aria-label="Close">
                            <i class="ki ki-close fs-4 text-muted"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="form">
                            <div class="form-group">
                                <script src="https://www.google.com/recaptcha/api.js"></script>
                                <div class="g-recaptcha" data-sitekey="6Lf92jMUAAAAANk8wz68r73rA2uPGr4_e0gn96BL"><div style="width: 304px; height: 78px;"><div><iframe title="reCAPTCHA" width="304" height="78" role="presentation" name="a-alnrajoynhhx" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox allow-storage-access-by-user-activation" src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6Lf92jMUAAAAANk8wz68r73rA2uPGr4_e0gn96BL&amp;co=aHR0cHM6Ly9wcmV2aWV3LmtlZW50aGVtZXMuY29tOjQ0Mw..&amp;hl=en&amp;v=X-oVtzDcTGjZVms4LEgykmCV&amp;size=normal&amp;cb=x671v1tpnun7"></iframe></div><textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea></div><iframe style="display: none;"></iframe></div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary  me-2" id="kt_layout_builder_verify">Submit</button>
                        <button type="button" class="btn btn-hover-light btn-text-muted fw-semibold" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!--end::Layout Builder Modal-->
        <!--begin::Card-->
        <div class="card mb-5 mb-xl-10">
            <!--begin::Header-->
            <div class="card-header card-header-stretch overflow-auto">
                <!--begin::Tabs-->
                <ul class="nav nav-stretch nav-line-tabs fw-semibold fs-6 border-transparent flex-nowrap" role="tablist" id="kt_layout_builder_tabs">

                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" data-bs-toggle="tab" href="#kt_layout_builder_main" role="tab" aria-selected="true">
                            Main
                        </a>
                    </li>

                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-bs-toggle="tab" href="#kt_layout_builder_header" role="tab" aria-selected="false" tabindex="-1">
                            Header
                        </a>
                    </li>

                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-bs-toggle="tab" href="#kt_layout_builder_content" role="tab" aria-selected="false" tabindex="-1">
                            Content
                        </a>
                    </li>

                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-bs-toggle="tab" href="#kt_layout_builder_footer" role="tab" aria-selected="false" tabindex="-1">
                            Footer
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-bs-toggle="tab" href="#kt_layout_builder_general" role="tab" aria-selected="false" tabindex="-1">
                            General
                        </a>
                    </li>
                </ul>
                <!--end::Tabs-->
            </div>
            <!--end::Header-->
            <!--begin::Form-->
            <form class="form" method="POST" id="kt_layout_builder_form" action="/metronic8/demo7/index.php">
                <!--begin::Body-->
                <div class="card-body">
                    <div class="tab-content pt-3">

                        <!--begin::Tab pane-->
                        <div class="tab-pane active show" id="kt_layout_builder_main" role="tabpanel">

                            <!--begin::Form group-->
                            <div class="form-group">
                                <!--begin::Heading-->
                                <div class="mb-6">
                                    <h4 class="fw-bold text-gray-900">Chế độ giao diện</h4>
                                    <div class="fw-semibold text-muted fs-7 d-block lh-1">
                                        Tùy chỉnh chế độ màu sắc bạn ưa thích để hiển thị
                                        <a class="fw-semibold" href="https://preview.keenthemes.com/html/metronic/docs/getting-started/dark-mode" target="_blank">See docs</a>
                                    </div>
                                </div>
                                <!--end::Heading-->
                                <!--begin::Options-->
                                <div class="row mw-lg-600px" data-kt-buttons="true" data-kt-buttons-target=".form-check-image,.form-check-input" data-kt-initialized="1">
                                    <!--begin::Col-->
                                    <div class="col-6">
                                        <!--begin::Option-->
                                        <label class="form-check-image form-check-success active">
                                            <!--begin::Image-->
                                            <div class="form-check-wrapper border-gray-200 border-2">
                                                <img src="https://preview.keenthemes.com/metronic8/demo7/assets/media/preview/demos/demo7/light-ltr.png" class="form-check-rounded mw-100" alt="">
                                            </div>
                                            <!--end::Image-->
                                            <!--begin::Check-->
                                            <div class="form-check form-check-custom form-check-solid form-check-sm form-check-success">
                                                <input class="form-check-input" type="radio" value="light" name="theme_mode" id="kt_layout_builder_theme_mode_light">

                                                <!--begin::Label-->
                                                <div class="form-check-label text-gray-700">
                                                    Sáng
                                                </div>
                                                <!--end::Label-->
                                            </div>
                                            <!--end::Check-->
                                        </label>
                                        <!--end::Option-->
                                    </div>
                                    <!--end::Col-->
                                    <!--begin::Col-->
                                    <div class="col-6">
                                        <!--begin::Option-->
                                        <label class="form-check-image form-check-success">
                                            <!--begin::Image-->
                                            <div class="form-check-wrapper border-gray-200 border-2">
                                                <img src="https://preview.keenthemes.com/metronic8/demo7/assets/media/preview/demos/demo7/dark-ltr.png" class="form-check-rounded mw-100" alt="">
                                            </div>
                                            <!--end::Image-->
                                            <!--begin::Check-->
                                            <div class="form-check form-check-custom form-check-solid form-check-sm form-check-success">
                                                <input class="form-check-input" type="radio" value="dark" name="theme_mode" id="kt_layout_builder_theme_mode_dark">

                                                <!--begin::Label-->
                                                <div class="form-check-label text-gray-700">
                                                    Tối
                                                </div>
                                                <!--end::Label-->
                                            </div>
                                            <!--end::Check-->
                                        </label>
                                        <!--end::Option-->
                                    </div>
                                    <!--end::Col-->

                                </div>
                                <!--end::Options-->
                            </div>
                            <!--end::Form group-->
                            <div class="separator separator-dashed my-6"></div>

                            <!--begin::Form group-->
                            <div class="form-group d-flex flex-stack">
                                <!--begin::Heading-->
                                <div class="d-flex flex-column">
                                    <h4 class="fw-bold text-gray-900">RTL Mode</h4>
                                    <div class="fs-7 fw-semibold text-muted">
                                        Change Language Direction.

                                        <a class="fw-semibold" href="https://preview.keenthemes.com/html/metronic/docs/getting-started/rtl" target="_blank">See docs</a>
                                    </div>
                                </div>
                                <!--end::Heading-->
                                <!--begin::Option-->
                                <div class="d-flex justify-content-end">
                                    <!--begin::Check-->
                                    <div class="form-check form-check-custom form-check-solid form-check-success form-switch">
                                        <input type="hidden" value="false" name="layout-builder[layout][app][general][rtl]">

                                        <input class="form-check-input w-45px h-30px" type="checkbox" value="true" name="layout-builder[layout][app][general][rtl]">
                                    </div>
                                    <!--end::Check-->
                                </div>
                                <!--end::Option-->
                            </div>
                            <!--end::Form group-->

                            <div class="separator separator-dashed my-6"></div>


                            <!--begin::Form group-->
                            <div class="form-group d-flex flex-stack">
                                <!--begin::Heading-->
                                <div class="d-flex flex-column ">
                                    <h4 class="fw-bold text-gray-900">KeenIcons Style</h4>

                                    <div>
                                        <span class="fs-7 fw-semibold text-muted">Select global UI icons style.</span>
                                        <a class="fw-semibold" href="https://preview.keenthemes.com/html/metronic/docs/icons/keenicons" target="_blank">Learn more</a>
                                    </div>
                                </div>
                                <!--end::Heading-->
                                <!--begin::Options-->
                                <div class="d-flex flex-stack gap-3 mw-lg-600px" data-kt-buttons="true" data-kt-buttons-target=".form-check-image,.form-check-input" data-kt-initialized="1">

                                    <!--begin::Option-->
                                    <label class="form-check-image form-check-success w-100 parent-active parent-hover active">
                                        <!--begin::Image-->
                                        <div class="form-check-wrapper d-flex flex-center border-gray-200 border-2 mb-0 py-3 px-4">
                                            <i class="ki-duotone ki-picture fs-1 text-gray-500 parent-active-gray-700 parent-hover-gray-700"><span class="path1"></span><span class="path2"></span></i>
                                            <span class="fs-7 fw-semibold ms-2 text-gray-500 parent-active-gray-700 parent-hover-gray-700">Duotone</span>
                                        </div>
                                        <!--end::Image-->
                                        <!--begin::Check-->
                                        <div style="visibility: hidden; height: 0 !important; width: 0 !importnat; overflow:hidden">
                                            <input class="form-check-input" type="radio" value="duotone" checked="" name="layout-builder[layout][app][general][icons]">
                                        </div>
                                        <!--end::Check-->
                                    </label>
                                    <!--end::Option-->
                                    <!--begin::Option-->
                                    <label class="form-check-image form-check-success w-100 parent-active parent-hover ">
                                        <!--begin::Image-->
                                        <div class="form-check-wrapper d-flex flex-center border-gray-200 border-2 mb-0 py-3 px-4">
                                            <i class="ki-outline ki-picture fs-1 text-gray-500 parent-active-gray-700 parent-hover-gray-700"></i>
                                            <span class="fs-7 fw-semibold ms-2 text-gray-500 parent-active-gray-700 parent-hover-gray-700">Outline</span>
                                        </div>
                                        <!--end::Image-->
                                        <!--begin::Check-->
                                        <div style="visibility: hidden; height: 0 !important; width: 0 !importnat; overflow:hidden">
                                            <input class="form-check-input" type="radio" value="outline" name="layout-builder[layout][app][general][icons]">
                                        </div>
                                        <!--end::Check-->
                                    </label>
                                    <!--end::Option-->
                                    <!--begin::Option-->
                                    <label class="form-check-image form-check-success w-100 parent-active parent-hover ">
                                        <!--begin::Image-->
                                        <div class="form-check-wrapper d-flex flex-center border-gray-200 border-2 mb-0 py-3 px-4">
                                            <i class="ki-solid ki-picture fs-1 text-gray-500 parent-active-gray-700 parent-hover-gray-700"></i>
                                            <span class="fs-7 fw-semibold ms-2 text-gray-500 parent-active-gray-700 parent-hover-gray-700">Solid</span>
                                        </div>
                                        <!--end::Image-->
                                        <!--begin::Check-->
                                        <div style="visibility: hidden; height: 0 !important; width: 0 !importnat; overflow:hidden">
                                            <input class="form-check-input" type="radio" value="solid" name="layout-builder[layout][app][general][icons]">
                                        </div>
                                        <!--end::Check-->
                                    </label>
                                    <!--end::Option-->

                                </div>
                                <!--end::Options-->
                            </div>
                            <!--end::Form group-->
                            <div class="separator separator-dashed my-6"></div>

                            <!--begin::Form group-->
                            <div class="form-group d-flex flex-stack">
                                <!--begin::Heading-->
                                <div class="d-flex flex-column">
                                    <h4 class="fw-bold text-gray-900">Page Loader</h4>
                                    <div class="fs-7 fw-semibold text-muted">Display page loading indicator</div>
                                </div>
                                <!--end::Heading-->
                                <!--begin::Option-->
                                <div class="d-flex justify-content-end gap-7">
                                    <!--begin::Check-->
                                    <div class="form-check form-check-custom form-check-success form-check-solid form-check-sm">
                                        <input class="form-check-input" type="radio" checked="" value="none" id="kt_builder_page_loader_type_none" name="layout-builder[layout][app][page-loader][type]">

                                        <!--begin::Label-->
                                        <label class="form-check-label text-gray-700 fw-bold text-nowrap" for="kt_builder_page_loader_type_none">
                                            None
                                        </label>
                                        <!--end::Label-->
                                    </div>
                                    <!--end::Check-->
                                    <!--begin::Check-->
                                    <div class="form-check form-check-custom form-check-success form-check-solid form-check-sm">
                                        <input class="form-check-input" type="radio" value="default" id="kt_builder_page_loader_type_default" name="layout-builder[layout][app][page-loader][type]">

                                        <!--begin::Label-->
                                        <label class="form-check-label text-gray-700 fw-bold text-nowrap" for="kt_builder_page_loader_type_default">
                                            Default
                                        </label>
                                        <!--end::Label-->
                                    </div>
                                    <!--end::Check-->
                                    <!--begin::Check-->
                                    <div class="form-check form-check-custom form-check-success form-check-solid form-check-sm">
                                        <input class="form-check-input" type="radio" value="spinner-message" id="kt_builder_page_loader_type_spinner-message" name="layout-builder[layout][app][page-loader][type]">

                                        <!--begin::Label-->
                                        <label class="form-check-label text-gray-700 fw-bold text-nowrap" for="kt_builder_page_loader_type_spinner-message">
                                            Message
                                        </label>
                                        <!--end::Label-->
                                    </div>
                                    <!--end::Check-->
                                    <!--begin::Check-->
                                    <div class="form-check form-check-custom form-check-success form-check-solid form-check-sm">
                                        <input class="form-check-input" type="radio" value="spinner-logo" id="kt_builder_page_loader_type_spinner-logo" name="layout-builder[layout][app][page-loader][type]">

                                        <!--begin::Label-->
                                        <label class="form-check-label text-gray-700 fw-bold text-nowrap" for="kt_builder_page_loader_type_spinner-logo">
                                            Logo
                                        </label>
                                        <!--end::Label-->
                                    </div>
                                    <!--end::Check-->
                                </div>
                                <!--end::Option-->
                            </div>
                            <!--end::Form group-->
                        </div>
                        <!--end::Tab pane-->
                        <!--begin::Tab pane-->
                        <div class="tab-pane" id="kt_layout_builder_header" role="tabpanel">
                            <div class="row mb-10">
                                <label class="col-lg-3 col-form-label text-lg-end">Fixed Header:</label>
                                <div class="col-lg-9 col-xl-4">
                                    <input type="hidden" name="layout-builder[layout][header][fixed][desktop]" value="false">
                                    <input type="hidden" name="layout-builder[layout][header][fixed][tablet-and-mobile]" value="false">

                                    <label class="form-check form-check-custom form-check-solid form-switch mb-5">
                                        <input class="form-check-input" type="checkbox" name="layout-builder[layout][header][fixed][desktop]" value="true" checked="">
                                        <span class="form-check-label text-muted">Desktop</span>
                                    </label>

                                    <label class="form-check form-check-custom form-check-solid form-switch mb-3">
                                        <input class="form-check-input" type="checkbox" name="layout-builder[layout][header][fixed][tablet-and-mobile]" value="true" checked="">
                                        <span class="form-check-label text-muted">Tablet &amp; Mobile</span>
                                    </label>

                                    <div class="form-text text-muted">Enable fixed header</div>
                                </div>
                            </div>

                            <div class="row mb-10">
                                <label class="col-lg-3 col-form-label text-lg-end">Width:</label>
                                <div class="col-lg-9 col-xl-4">
                                    <select class="form-select form-select-solid select2-hidden-accessible" name="layout-builder[layout][header][width]" data-control="select2" data-hide-search="true" data-select2-id="select2-data-9-qzsv" tabindex="-1" aria-hidden="true" data-kt-initialized="1">
                                        <option value="fluid">Fluid</option>
                                        <option value="fixed" selected="" data-select2-id="select2-data-11-82hb">Fixed</option>
                                    </select><span class="select2 select2-container select2-container--bootstrap5" dir="ltr" data-select2-id="select2-data-10-zaop" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single form-select form-select-solid" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-layout-builderlayoutheaderwidth-k5-container" aria-controls="select2-layout-builderlayoutheaderwidth-k5-container"><span class="select2-selection__rendered" id="select2-layout-builderlayoutheaderwidth-k5-container" role="textbox" aria-readonly="true" title="Fixed">Fixed</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                    <div class="form-text text-muted">Select header width type.</div>
                                </div>
                            </div>
                        </div>
                        <!--end::Tab pane-->
                        <!--begin::Tab pane-->
                        <div class="tab-pane" id="kt_layout_builder_content" role="tabpanel">
                            <div class="row mb-10">
                                <label class="col-lg-3 col-form-label text-lg-end">Width:</label>
                                <div class="col-lg-9 col-xl-4">
                                    <select class="form-select form-select-solid select2-hidden-accessible" name="layout-builder[layout][content][width]" data-control="select2" data-hide-search="true" data-select2-id="select2-data-12-bw2x" tabindex="-1" aria-hidden="true" data-kt-initialized="1">
                                        <option value="fluid">Fluid</option>
                                        <option value="fixed" selected="" data-select2-id="select2-data-14-0s27">Fixed</option>
                                    </select><span class="select2 select2-container select2-container--bootstrap5" dir="ltr" data-select2-id="select2-data-13-wupc" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single form-select form-select-solid" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-layout-builderlayoutcontentwidth-mh-container" aria-controls="select2-layout-builderlayoutcontentwidth-mh-container"><span class="select2-selection__rendered" id="select2-layout-builderlayoutcontentwidth-mh-container" role="textbox" aria-readonly="true" title="Fixed">Fixed</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                    <div class="form-text text-muted">Select layout width type.</div>
                                </div>
                            </div>
                        </div>
                        <!--end::Tab pane-->
                        <!--begin::Tab pane-->
                        <div class="tab-pane" id="kt_layout_builder_footer" role="tabpanel">

                            <!--begin::Form group-->
                            <div class="form-group d-flex flex-stack">
                                <!--begin::Heading-->
                                <div class="d-flex flex-column">
                                    <h4 class="fw-bold text-gray-900">Fixed</h4>
                                    <div class="fs-7 fw-semibold text-muted">
                                        Fixed footer mode
                                    </div>
                                </div>
                                <!--end::Heading-->
                                <!--begin::Option-->
                                <div class="d-flex align-items-center justify-content-end">
                                    <!--begin::Check-->
                                    <div class="form-check form-check-custom form-check-solid form-check-primary form-switch ms-10">
                                        <input type="hidden" value="false" name="layout-builder[layout][footer][fixed][desktop]">
                                        <input class="form-check-input w-45px h-30px" type="checkbox" value="true" name="layout-builder[layout][footer][fixed][desktop]" id="kt_builder_footer_fixed_desktop">

                                        <!--begin::Label-->
                                        <label class="form-check-label text-gray-700 fw-bold" for="kt_builder_footer_fixed_desktop">Desktop Mode</label>
                                        <!--end::Label-->
                                    </div>
                                    <!--end::Check-->
                                    <!--begin::Check info-->

                                    <span class="ms-1" data-bs-toggle="tooltip" data-kt-initialized="1">
                                        <i class="ki-duotone ki-information-5 text-gray-500 fs-6"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>
                                    </span>        <!--end::Check info-->
                                    <!--begin::Check-->
                                    <div class="form-check form-check-custom form-check-solid form-check-primary form-switch ms-10">
                                        <input type="hidden" value="false" name="layout-builder[layout][footer][fixed][mobile]">
                                        <input class="form-check-input w-45px h-30px" type="checkbox" value="true" name="layout-builder[layout][footer][fixed][mobile]" id="kt_builder_footer_fixed_mobile">

                                        <!--begin::Label-->
                                        <label class="form-check-label text-gray-700 fw-bold" for="kt_builder_footer_fixed_mobile">Mobile Mode</label>
                                        <!--end::Label-->
                                    </div>
                                    <!--end::Check-->
                                    <!--begin::Check info-->

                                    <span class="ms-1" data-bs-toggle="tooltip" data-kt-initialized="1">
                                        <i class="ki-duotone ki-information-5 text-gray-500 fs-6"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>
                                    </span>        <!--end::Check info-->
                                </div>
                                <!--end::Option-->
                            </div>
                            <!--end::Form group-->
                        </div>
                        <!--end::Tab pane-->
                        <!--begin::Tab pane-->
                        <div class="tab-pane" id="kt_layout_builder_general" role="tabpanel">
                            <!--begin::Form group-->
                            <div class="form-group">
                                <!--begin::Heading-->
                                <div class="mb-6">
                                    <h4 class="fw-bold text-gray-900">Ngôn ngữ</h4>
                                    <div class="fw-semibold text-muted fs-7 d-block lh-1">
                                        Chọn ngôn ngữ bạn ưa thích để hiển thị các nút, tiêu đề, đoạn văn bản..., áp dụng riêng với tài khoản của bạn. Email hoặc thông báo tới bạn cũng hiển thị ngôn ngữ này.
                                        <a class="fw-semibold" href="https://preview.keenthemes.com/html/metronic/docs/getting-started/dark-mode" target="_blank">See docs</a>
                                    </div>
                                </div>
                                <!--end::Heading-->
                                <!--begin::Options-->
                                <div class="row" data-kt-buttons="true" data-kt-initialized="1">
                                    <div class="col-12">
                                        <div class="form-floating form-floating-outline">
                                            <select id="timeZones" class="select2 form-select" data-placeholder="(GMT-12:00) International Date Line West">
                                                <option value="">(GMT-12:00) International Date Line West</option><!--!-->
                                                <option value="-12">(GMT-12:00) International Date Line West</option><!--!-->
                                                <option value="-11">(GMT-11:00) Midway Island, Samoa</option><!--!-->
                                                <option value="-10">(GMT-10:00) Hawaii</option><!--!-->
                                                <option value="-9">(GMT-09:00) Alaska</option><!--!-->
                                                <option value="-8"><!--!-->(GMT-08:00) Pacific Time (US &amp; Canada)</option><!--!-->
                                                <option value="-8">(GMT-08:00) Tijuana, Baja California</option><!--!-->
                                                <option value="-7">(GMT-07:00) Arizona</option><!--!-->
                                                <option value="-7">(GMT-07:00) Chihuahua, La Paz, Mazatlan</option><!--!-->
                                                <option value="-7"><!--!-->(GMT-07:00) Mountain Time (US &amp; Canada)</option><!--!-->
                                                <option value="-6">(GMT-06:00) Central America</option><!--!-->
                                                <option value="-6"><!--!-->(GMT-06:00) Central Time (US &amp; Canada)</option><!--!-->
                                                <option value="-6">(GMT-06:00) Guadalajara, Mexico City, Monterrey</option><!--!-->
                                                <option value="-6">(GMT-06:00) Saskatchewan</option><!--!-->
                                                <option value="-5">(GMT-05:00) Bogota, Lima, Quito, Rio Branco</option><!--!-->
                                                <option value="-5"><!--!-->(GMT-05:00) Eastern Time (US &amp; Canada)</option><!--!-->
                                                <option value="-5">(GMT-05:00) Indiana (East)</option><!--!-->
                                                <option value="-4">(GMT-04:00) Atlantic Time (Canada)</option><!--!-->
                                                <option value="-4">(GMT-04:00) Caracas, La Paz</option>
                                            </select><!--!-->
                                            <!--!--><label for="timeZones">Time Zone</label>
                                        </div>
                                    </div>
                                </div>
                                <!--end::Options-->
                            </div>
                            <!--end::Form group-->
                            <div class="separator separator-dashed my-6"></div>

                            <!--begin::Form group-->
                            <div class="form-group">
                                <!--begin::Heading-->
                                <div class="mb-6">
                                    <h4 class="fw-bold text-gray-900">Định dạng hệ thống</h4>
                                    <div class="fw-semibold text-muted fs-7 d-block lh-1">
                                        Những thiết lập về múi giờ, định dạng thời gian và định dạng số sẽ áp dụng riêng với tài khoản của bạn.
                                        <a class="fw-semibold" href="https://preview.keenthemes.com/html/metronic/docs/getting-started/dark-mode" target="_blank">See docs</a>
                                    </div>
                                </div>
                                <!--end::Heading-->
                                <!--begin::Options-->
                                <div class="row" data-kt-buttons="true" data-kt-initialized="1">
                                    <div class="col-12 mb-6">
                                        <div class="form-floating form-floating-outline">
                                            <select id="timeZones" class="select2 form-select" data-placeholder="(GMT-12:00) International Date Line West">
                                                <option value="">(GMT-12:00) International Date Line West</option><!--!-->
                                                <option value="-12">(GMT-12:00) International Date Line West</option><!--!-->
                                                <option value="-11">(GMT-11:00) Midway Island, Samoa</option><!--!-->
                                                <option value="-10">(GMT-10:00) Hawaii</option><!--!-->
                                                <option value="-9">(GMT-09:00) Alaska</option><!--!-->
                                                <option value="-8"><!--!-->(GMT-08:00) Pacific Time (US &amp; Canada)</option><!--!-->
                                                <option value="-8">(GMT-08:00) Tijuana, Baja California</option><!--!-->
                                                <option value="-7">(GMT-07:00) Arizona</option><!--!-->
                                                <option value="-7">(GMT-07:00) Chihuahua, La Paz, Mazatlan</option><!--!-->
                                                <option value="-7"><!--!-->(GMT-07:00) Mountain Time (US &amp; Canada)</option><!--!-->
                                                <option value="-6">(GMT-06:00) Central America</option><!--!-->
                                                <option value="-6"><!--!-->(GMT-06:00) Central Time (US &amp; Canada)</option><!--!-->
                                                <option value="-6">(GMT-06:00) Guadalajara, Mexico City, Monterrey</option><!--!-->
                                                <option value="-6">(GMT-06:00) Saskatchewan</option><!--!-->
                                                <option value="-5">(GMT-05:00) Bogota, Lima, Quito, Rio Branco</option><!--!-->
                                                <option value="-5"><!--!-->(GMT-05:00) Eastern Time (US &amp; Canada)</option><!--!-->
                                                <option value="-5">(GMT-05:00) Indiana (East)</option><!--!-->
                                                <option value="-4">(GMT-04:00) Atlantic Time (Canada)</option><!--!-->
                                                <option value="-4">(GMT-04:00) Caracas, La Paz</option>
                                            </select><!--!-->
                                            <!--!--><label for="timeZones">Múi giờ</label>
                                        </div>
                                    </div><!--!-->
                                    <div class="col-12 col-md-6 mb-6">
                                        <div class="form-floating form-floating-outline">
                                            <select id="unitSystemDropdown" class="select2 form-select" data-placeholder="Date format">
                                                <option value="">Metric</option><!--!-->
                                                <option value="metric">Metric</option><!--!-->
                                                <option value="imperial">Imperial</option><!--!-->
                                                <option value="us">US Customary</option><!--!-->
                                                <option value="si">International System</option>
                                            </select><!--!-->
                                            <!--!--><label for="unitSystemDropdown">Định dạng ngày</label>
                                        </div>
                                    </div><!--!-->
                                    <div class="col-12 col-md-6 mb-6">
                                        <div class="form-floating form-floating-outline">
                                            <select id="weightUnits" class="select2 form-select" data-placeholder="Time format">
                                                <option value="">Kilograms</option><!--!-->
                                                <option value="kg">Kilograms</option><!--!-->
                                                <option value="lb">Pounds</option><!--!-->
                                                <option value="g">Grams</option><!--!-->
                                                <option value="mg">Milligrams</option>
                                            </select><!--!-->
                                            <!--!--><label for="weightUnits">Định dạng giờ</label>
                                        </div>
                                    </div><!--!-->
                                    <div class="col-12 col-md-6 mb-6">
                                        <div class="form-floating form-floating-outline">
                                            <select id="unitSystemDropdown" class="select2 form-select" data-placeholder="Number format">
                                                <option value="">Metric</option><!--!-->
                                                <option value="metric">Metric</option><!--!-->
                                                <option value="imperial">Imperial</option><!--!-->
                                                <option value="us">US Customary</option><!--!-->
                                                <option value="si">International System</option>
                                            </select><!--!-->
                                            <!--!--><label for="unitSystemDropdown">Định dạng số</label>
                                        </div>
                                    </div><!--!-->
                                    <div class="col-12 col-md-6 mb-6">
                                        <div class="form-floating form-floating-outline">
                                            <select id="weightUnits" class="select2 form-select" data-placeholder="Display name format">
                                                <option value="">Kilograms</option><!--!-->
                                                <option value="kg">Kilograms</option><!--!-->
                                                <option value="lb">Pounds</option><!--!-->
                                                <option value="g">Grams</option><!--!-->
                                                <option value="mg">Milligrams</option>
                                            </select><!--!-->
                                            <!--!--><label for="weightUnits">Định dạng hiển thị tên của tôi</label>
                                        </div>
                                    </div>
                                </div>
                                <!--end::Options-->
                            </div>
                            <!--end::Form group-->
                        </div>
                        <!--end::Tab pane-->
                    </div>
                </div>
                <!--end::Body-->
                <!--begin::Footer-->
                <div class="card-footer d-flex py-8">
                    <input type="hidden" id="kt_layout_builder_tab" name="layout-builder[tab]" value="kt_layout_builder_main">
                    <input type="hidden" id="kt_layout_builder_action" name="layout-builder[action]">
                    <button type="button" id="kt_layout_builder_reset" class="btn btn-active-light btn-color-muted">
                        <span class="indicator-label">
                            Reset
                        </span>
                        <span class="indicator-progress">
                            Please wait... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                        </span>
                    </button>
                </div>
                <!--end::Footer-->
            </form>
            <!--end::Form-->
        </div>
        <!--end::Card-->
        <div class="card">
            <!--begin::Card header-->
            <div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse" data-bs-target="#kt_account_deactivate" aria-expanded="true" aria-controls="kt_account_deactivate">
                <div class="card-title m-0">
                    <h3 class="fw-bold m-0">Xóa tài khoản</h3>
                </div>
            </div>
            <!--end::Card header-->
            <!--begin::Content-->
            <div id="kt_account_settings_deactivate" class="collapse show">
                <!--begin::Form-->
                <form id="kt_account_deactivate_form" class="form fv-plugins-bootstrap5 fv-plugins-framework" novalidate="novalidate">
                    <!--begin::Card body-->
                    <div class="card-body border-top p-9">
                        <!--begin::Notice-->
                        <div class="notice d-flex bg-light-warning rounded border-warning border border-dashed mb-9 p-6">
                            <!--begin::Icon-->
                            <i class="ki-duotone ki-information fs-2tx text-warning me-4">
                                <span class="path1"></span>
                                <span class="path2"></span>
                                <span class="path3"></span>
                            </i>
                            <!--end::Icon-->
                            <!--begin::Wrapper-->
                            <div class="d-flex flex-stack flex-grow-1">
                                <!--begin::Content-->
                                <div class="fw-semibold">
                                    <h4 class="text-gray-900 fw-bold">Bạn đang xóa tài khoản của mình</h4>
                                    <div class="fs-6 text-gray-700">
                                        Bạn sẽ mất quyền truy cập vào các sản phẩm trên Cogover và tất cả dữ liệu cá nhân của bạn sẽ bị xóa vĩnh viễn. Bạn có thể hủy hành động xóa trong vòng 14 ngày.
                                        <br>
                                        <a class="fw-bold" href="#">Tìm hiểu thêm</a>
                                    </div>
                                </div>
                                <!--end::Content-->
                            </div>
                            <!--end::Wrapper-->
                        </div>
                        <!--end::Notice-->
                        <!--begin::Form input row-->
                        <div class="form-check form-check-solid fv-row fv-plugins-icon-container">
                            <input name="deactivate" class="form-check-input" type="checkbox" value="" id="deactivate">
                            <label class="form-check-label fw-semibold ps-2 fs-6" for="deactivate">Tôi xác nhận việc xóa tài khoản của mình</label>
                            <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
                        </div>
                        <!--end::Form input row-->
                    </div>
                    <!--end::Card body-->
                    <!--begin::Card footer-->
                    <div class="card-footer d-flex justify-content-end py-6 px-9">
                        <button id="kt_account_deactivate_account_submit" type="submit" class="btn btn-danger fw-semibold">Xóa tài khoản</button>
                    </div>
                    <!--end::Card footer-->
                    <input type="hidden">
                </form>
                <!--end::Form-->
            </div>
            <!--end::Content-->
        </div>
    </div>
    <!--end::Container-->
</div>
<!--end::Content-->