@using Host.Auth.Components.Shared
@inherits LayoutComponentBase
<!--begin::Root-->
<div class="d-flex flex-column flex-root">
	<!--begin::Authentication - Sign-in -->
	<div class="d-flex flex-column flex-column-fluid bgi-position-y-bottom position-x-center bgi-no-repeat bgi-size-contain bgi-attachment-fixed" style="background-image: url(assets/media/illustrations/sigma-1/14.png">
		<!--begin::Content-->
		<div class="d-flex flex-center flex-column flex-column-fluid p-10 pb-lg-20">
		<AuthLogo></AuthLogo>
			<!--begin::Wrapper-->
			<div class="w-lg-500px bg-body rounded shadow-sm p-10 p-lg-15 mx-auto">
				@Body
			</div>
			<!--end::Wrapper-->
		</div>
		<!--end::Content-->
		<AuthFooter/>
	</div>
	<!--end::Authentication - Sign-in-->
</div>
<!--end::Root-->