@using Host.Auth.Components.Shared
@inherits LayoutComponentBase
<!--begin::Root-->
<div class="d-flex flex-column flex-root">
	<!--begin::Page-->
	<div class="page d-flex flex-row flex-column-fluid">
		<!--begin::Aside-->
		<div id="kt_aside" class="aside aside-extended" data-kt-drawer="true" data-kt-drawer-name="aside" data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true" data-kt-drawer-width="auto" data-kt-drawer-direction="start" data-kt-drawer-toggle="#kt_aside_toggle">
			<!--begin::Primary-->
			<div class="aside-primary d-flex flex-column align-items-lg-center flex-row-auto">
				<!--begin::Logo-->
				<div class="aside-logo d-none d-lg-flex flex-column align-items-center flex-column-auto py-10" id="kt_aside_logo">
					<Logo></Logo>
				</div>
				<!--end::Logo-->
				<Aside_Nav></Aside_Nav>
				<Aside_Footer></Aside_Footer>
			</div>
			<!--end::Primary-->
		</div>
		<!--end::Aside-->
		<!--begin::Wrapper-->
		<div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
			<Header></Header>
			@Body
			<Footer></Footer>
		</div>
		<!--end::Wrapper-->
	</div>
	<!--end::Page-->
</div>
<!--end::Root-->
<Engage_Toolbar></Engage_Toolbar>
<Scrolltop></Scrolltop>